<div class="background">
  <div class="title">
    <div class="bold">Acta de acuerdo</div>
    <div class="italic">(modificado por el titular)</div>
  </div>

  <section class="acta-container-extracted">
    @for (item of matriculas; track $index) {
      <div>
        @if (!item.showDocument) {
          <span>
            <a href="#" (click)="toggleDocument($event, item)">Acta {{ item.year }}</a>
          </span> 
        }
      </div>
    }
  </section>

  <section>
    @for (item of matriculas; track $index) {
      @if (item.showDocument) {
        <div class="acta-container">
            <label for="acta-{{ item.year }}">Acta {{ item.year }}</label>
            <app-file-upload
              [alumnoId]="alumnoId"
              [documentName]="item.acta.documento"
              [titular_id]="titular_id"
              [yearId]="item.year_id"
              [history]="item.acta.history"
              (updatedFile)="handleUpdatedFile(item, $event)"
              (handleUpload)="handleUpload($event, item)"
              documentField="actaAcuerdo"
            ></app-file-upload>
        </div>
      }
    }
  </section>
</div>
