.mat-button-toggle-group .mat-button-toggle-label-content {
  line-height: 30px !important;
}

html {
  --mat-standard-button-toggle-height: 30px !important;
}

section {
  padding: 8px;

  .content-header {
    text-align: center;
    margin-bottom: 20px;
  }
}
