<section>
  <div class="content-header">
    <mat-button-toggle-group
      [(value)]="selectedGroup"
      name="groupButtons"
      aria-label="Font Style"
    >
      @for (group of groups; track group.id) {
        <mat-button-toggle
          (change)="onGroupClick()"
          value="{{ group.id }}"
          style="line-height: 20px"
          >{{ group.abrev }}</mat-button-toggle
        >
      }
    </mat-button-toggle-group>
  </div>
  <app-contexto-grupo
    [loading]="loadingContextoFamiliar"
    [record]="familiarContext"
    [savingContext]="savingGroupContext"
    (saveContext)="onSaveGroupContext($event)"
  />
  @if (alumnos.length > 0) {
    <app-table-piar [alumnos]="alumnos"></app-table-piar>
  }
</section>
