<mat-nav-list>
  @for (group of navigationGroups; track $index) {
    @if (!group.items) {
      <a mat-list-item [routerLink]="group.route">{{ group.title }}</a>
    } @else {
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>{{ group.title }}</mat-panel-title>
        </mat-expansion-panel-header>
        @for (item of group.items; track $index) {
          <mat-nav-list>
            <a mat-list-item routerLink="{{ item.route }}">
              {{ item.label }}
            </a>
          </mat-nav-list>
        }
      </mat-expansion-panel>
    }
  }
</mat-nav-list>
