<table
  mat-table
  [dataSource]="alumnos"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.toLocaleLowerCase()] }}
      </td>
    </ng-container>
  }
  <ng-container matColumnDef="ERE">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">ERE</th>
    <td mat-cell *matCellDef="let element">
      {{ element.nee === 1 && "Si" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="onRowClick({ element, $event })"
      >
        @if (element.expanded) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="element-detail"
        [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
      >
        <app-perfil-container
          class="hidden-print"
          [alumno]="element"
        ></app-perfil-container>
        <div class="hidden-print">
          <div class="caracterizacion-estudiante">
            <label style="padding-top: 15px">
              <span>Caracterización del estudiante</span>
              <span>(modificado por el psicólogo(a))</span>
            </label>
            @if (!isChangingFile) {
              <app-file-upload
                [alumnoId]="element.studentPiar.alumno_id"
                [documentName]="element.studentPiar.documento1"
                [titular_id]="selectedGroup.titular_id"
                [history]="element.studentPiar.history"
                (updatedFile)="handleUpdatedFile(element, $event)"
                documentField="documento1"
              ></app-file-upload>
            }
          </div>
        </div>
        <div class="caracterizacion-estudiante hidden-print">
          <label>
            <span>Valoración pedagógica</span>
            <span>(modificado por el titular)</span>
          </label>
          <app-dynamic-textarea
            [dataText]="element.studentPiar.valoracion_pedagogica"
            [dataId]="element.studentPiar.id"
            [hasEditingPermissions]="hasTitularOrAdminPermissions()"
            (saveText)="element.studentPiar.valoracion_pedagogica = $event"
            dataField="valoracion_pedagogica"
          ></app-dynamic-textarea>
        </div>
        <div class="caracterizacion-estudiante hidden-print">
          <label>
            <span>Ajustes generales</span>
            <span>(modificado por el titular)</span>
          </label>
          <app-dynamic-textarea
            [dataText]="element.studentPiar.ajustes_generales"
            [dataId]="element.studentPiar.id"
            [hasEditingPermissions]="hasTitularOrAdminPermissions()"
            (saveText)="element.studentPiar.ajustes_generales = $event"
            dataField="ajustes_generales"
          ></app-dynamic-textarea>
        </div>

        <app-apoyo-ajustes
          class="hidden-print"
          [alumno]="element"
          [selectedGroup]="selectedGroup"
        ></app-apoyo-ajustes>

        <div class="acta-de-acuerdo hidden-print">
          <label style="padding-top: 15px">
            <span>Acta de acuerdo</span>
            <span>(modificado por el titular)</span>
          </label>
          @if (!isChangingFile) {
            <app-file-upload
              [alumnoId]="element.studentPiar.alumno_id"
              [documentName]="element.studentPiar.documento2"
              [titular_id]="selectedGroup.titular_id"
              [history]="element.studentPiar.history"
              (updatedFile)="handleUpdatedFile(element, $event)"
              documentField="documento2"
            ></app-file-upload>
          }
        </div>
        <app-informe-pedagogico [alumno]="element"></app-informe-pedagogico>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="element-row"
    [class.expanded-row]="element.expanded"
    (click)="onRowClick({ element, $event })"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>
