<table
  mat-table
  [dataSource]="alumnos"
  multiTemplateDataRows
  class="mat-elevation-z8"
>
  @for (column of columnsToDisplay; track column) {
    <ng-container matColumnDef="{{ column }}">
      <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.toLocaleLowerCase()] }}
      </td>
    </ng-container>
  }
  <ng-container matColumnDef="ERE">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">ERE</th>
    <td mat-cell *matCellDef="let element">
      {{ element.nee === 1 && "Si" }}
    </td>
  </ng-container>

  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
    <td mat-cell *matCellDef="let element">
      <button
        mat-icon-button
        aria-label="expand row"
        (click)="onRowClick({ element, $event })"
      >
        @if (element.expanded) {
          <mat-icon>keyboard_arrow_up</mat-icon>
        } @else {
          <mat-icon>keyboard_arrow_down</mat-icon>
        }
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="expandedDetail">
    <td
      mat-cell
      *matCellDef="let element"
      [attr.colspan]="columnsToDisplayWithExpand.length"
    >
      <div
        class="element-detail"
        [@detailExpand]="element.expanded ? 'expanded' : 'collapsed'"
      >
        <app-perfil-container [alumno]="element"></app-perfil-container>
        <div>
          <div class="caracterizacion-estudiante">
            <label>Valoración pedagógica</label>
            <app-file-upload
              [alumnoId]="element.studentPiar.alumno_id"
              [documentName]="element.studentPiar.documento1"
              [titular_id]="selectedGroup.titular_id"
            ></app-file-upload>
          </div>
        </div>
        <div class="caracterizacion-estudiante">
          <label>Caracterización del estudiante</label>
          <app-dynamic-textarea
            [dataText]="element.studentPiar.contexto_sociofamiliar"
            [dataId]="element.studentPiar.id"
            [hasEditingPermissions]="true"
            (saveText)="element.studentPiar.contexto_sociofamiliar = $event"
            dataField="contexto_sociofamiliar"
          ></app-dynamic-textarea>
        </div>

        <app-apoyo-ajustes
          [alumno]="element"
          [selectedGroup]="selectedGroup"
        ></app-apoyo-ajustes>

        <div class="acta-de-acuerdo">
          <label>Acta de acuerdo</label>
          <app-dynamic-textarea
            [dataText]="element.studentPiar.acta_de_acuerdo"
            [dataId]="element.studentPiar.id"
            [hasEditingPermissions]="true"
            dataField="acta_de_acuerdo"
          ></app-dynamic-textarea>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
  <tr
    mat-row
    *matRowDef="let element; columns: columnsToDisplayWithExpand"
    class="element-row"
    [class.expanded-row]="element.expanded"
    (click)="onRowClick({ element, $event })"
  ></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: ['expandedDetail']"
    class="detail-row"
  ></tr>
</table>
