tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;

  .perfil-container,
  .apoyo-ajustes-razonables,
  .caracterizacion-estudiante,
  .seguimientos,
  .acta-acuerdo {
    display: flex;
  }

  .apoyo-ajustes-razonables,
  .caracterizacion-estudiante,
  .seguimientos,
  .acta-acuerdo {
    :nth-child(2) {
      flex: 2;
    }
  }

  .perfil-container {
    img {
      width: 100px;
      border: 1px solid #ccc;
      min-height: 100px;
    }
  }
}
