tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: whitesmoke;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.expanded-row td {
  font-weight: 500;
}

.expanded-row + .detail-row td {
  padding-top: 20px;
  box-shadow: 0 0 4px #ccc inset;
}

.element-detail {
  overflow: hidden;
  display: flex;
  position: relative;
  flex-direction: column;

  .perfil-container,
  .apoyo-ajustes-razonables,
  .caracterizacion-estudiante,
  .acta-de-acuerdo {
    display: flex;
    margin-bottom: 40px;
    gap: 10px;

    label {
      width: 200px;
      font-weight: 500;
    }
  }

  .apoyo-ajustes-razonables,
  .caracterizacion-estudiante,
  .acta-de-acuerdo {
    :nth-child(2) {
      flex: 2;
    }
  }

  .perfil-container {
    img {
      width: 100px;
      border: 1px solid #ccc;
      min-height: 100px;
    }
  }
}

app-informe-pedagogico {
  margin-bottom: 50px;
}

@media (max-width: 700px) {
  .apoyo-ajustes-razonables,
  .caracterizacion-estudiante,
  .acta-de-acuerdo {
    flex-direction: column;
  }
}
@media print {
  .mat-elevation-z8 {
    box-shadow: unset;
    border: 1px solid #000;
  }
  app-informe-pedagogico {
    margin-bottom: 0;
  }
}
