@import "ngx-toastr/toastr";
@import "./app/core/styles/print-styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bold {
  font-weight: 500;
}
.center {
  text-align: center;
}
.page-vertical {
  width: 22cm;
  background-color: #fff;
}

@media print {
  .page-vertical {
    width: 100%;
  }
  tr[mat-header-row] {
    display: none;
  }
  .hidden-print {
    display: none !important;
  }
  td {
    border: 0;
  }
}
