@import "ngx-toastr/toastr";
@import "./app/core/styles/print-styles.scss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bold {
  font-weight: 500;
}
.center {
  text-align: center;
}
