<mat-toolbar color="primary">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My Virtual College</span>
</mat-toolbar>
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" [opened]="opened">
    <app-sidenav></app-sidenav>
  </mat-drawer>

  <mat-drawer-content>
    @if (!authorizing && !authorized) {
      Actualmente usted no tiene acceso.
    }
    @if (!authorizing && user) {
      <router-outlet></router-outlet>
    }
    @if (authorizing) {
      Autenticando...
    }
  </mat-drawer-content>
</mat-drawer-container>
