<form [formGroup]="myForm" class="uploader-wrapper">
  <div *ngIf="documentName" class="document-url">
    <a [href]="UPLOADS_URL + '/' + documentName" target="_blank">{{
      documentNameAlone
    }}</a>
    <button
      mat-icon-button
      color="warn"
      (click)="removeFile()"
      aria-label="Eliminar archivo"
    >
      <mat-icon>delete_forever</mat-icon>
    </button>
    <button mat-icon-button aria-label="Ver historial del documento">
      <mat-icon color="primary">alarm</mat-icon>
    </button>
  </div>
  <mat-form-field appearance="fill">
    <mat-label>Arrastra aquí un archivo</mat-label>
    <ngx-mat-dropzone>
      <input type="file" fileInput formControlName="fileCtrl" />
      @if (fileControl.value) {
        <mat-chip-row (removed)="clear()">
          {{ file.name }}
          <button matChipRemove (click)="removeFile()">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
    </ngx-mat-dropzone>
    <mat-icon matSuffix color="primary">cloud_upload</mat-icon>
    <mat-error>Invalid file type</mat-error>
  </mat-form-field>
  <button
    mat-raised-button
    [disabled]="myForm.invalid"
    (click)="uploadFile()"
    color="primary"
  >
    Guardar
  </button>
</form>
